body{
    margin: 0;
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    display: flex;
    background-color: rgb(91, 134, 21);
    color: white;
    font-size: 20px;
    justify-content: center;
    padding: 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    background-color: rgb(65, 95, 17);
    padding: 10px 20px;
    margin: 15px 10px;          
    border-radius: 15px;         
}

/* Efeito ao passar o mouse por cima do botão do menu */
.navbar a:hover {
    background-color: rgb(60, 90, 15);
    cursor: pointer;
}

.container{
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(203, 214, 185);
    padding: 20px;
    border-radius: 30px;
}

h1{
    color: rgb(41, 61, 9);
}

p{
    color: rgb(41, 61, 9);
    font-size: 20px;
}

.imagem{
    display: flex;
    justify-content: center;
}


.imagem img{
    width: 350px;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagem img:hover{
    transform: scale(1.05);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
   
}

footer{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(91, 134, 21);
    color: white;
    padding: 10px;
}

.botao-whatsapp-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/* Estilo principal do botão */
.btn-whatsapp {
    background-color: #25D366; 
    color: white;             
    text-decoration: none;    
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;       
    border-radius: 50px;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-whatsapp:hover {
    background-color: #20ba5a; 
    transform: scale(1.05);   
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.botao-instagram-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.btn-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-instagram:hover {
    transform: scale(1.05);   
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}