.aqua {
    width: 200px;
    height: 200px;
    background-color:aqua;
    margin-bottom: 20px;
}
.red { 
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 60px;
}